<div class="card-main" *ngIf="user && user.id;else notLogin">
  <div class="container" *ngIf="user.role == 'member'">
    <div class="row">
      <div class="col-sm-2">
        <div class="title-card">
        <h3><i class="fa fa-credit-card"></i> {{'Credit Card'|translate}}</h3>
        {{'Choose your top-up amount'|translate}}:
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="list-card">
          <li *ngFor="let topup of listTopup">
            <!-- <a  href="{{ccbill+paymentSetting.accountNumber+'&clientSubacc='+paymentSetting.subAccount+'&formName='+topup.formName+'&formPrice='+topup.formPrice+'&user_id='+user.id+'&topupId='+topup._id}}" class="box-choose-card" > -->
              <a  href="{{ccbillPath+topup.flexformId+'?user_id='+user.id+'&topupId='+topup._id}}" class="box-choose-card" >
              <span>{{config?.currency}}{{getPrice(topup.price)}}</span> ({{topup.token}} {{'Credits'|translate}})
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 text-right">
        <p>{{'Top-ups are one-off and non-recurring.'|translate}} {{'payment Powered by CCBill.'|translate}} {{'All major cards accepted.'|translate}}</p>
        <img src="assets/images/card.png">
      </div>
    </div>
  </div>
</div>
<ng-template #notLogin>
  <div class="card-main" >
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="title-card">
          <h3><i class="fa fa-credit-card"></i> {{'Credit Card'|translate}}</h3>
          {{'Choose your top-up amount'|translate}}:
          </div>
        </div>
        <div class="col-sm-6">
          <ul class="list-card">
            <li *ngFor="let topup of listTopup">
              <a  [routerLink]="['/login']" class="box-choose-card" >
                <span>{{config?.currency}}{{getPrice(topup.price)}}</span> ({{topup.token}} {{'Credits'|translate}})
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 text-right">
          <p>{{'Top-ups are one-off and non-recurring. payment Powered by CCBill.'|translate}} {{'All major cards accepted.'|translate}}</p>
          <img src="assets/images/card.png">
        </div>
      </div>
    </div>
  </div>
</ng-template>