.passwordFormGroup{
    margin: auto;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}
.text-center h3{
    width: 100%;
    text-align: center;
}
form{
    margin: auto;
}