<app-navigation></app-navigation>
<app-banner></app-banner>
<app-top-up></app-top-up>
<!-- <div [innerHTML]="content" class="container">
</div> -->

<div class="container">
    <p><span style="font-size:22px"><strong>{{'Luck Telling Frequently Asked Questions'|translate}}</strong></span></p>

    <h1 style="margin-left:0cm; margin-right:0cm"><span style="font-size:16pt"><span style="font-family: Calibri Light ,sans-serif"><span style="color:#2f5496"><strong>{{'luck-telling Desktop'|translate}}</strong></span></span></span></h1>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'What is luck-telling?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Virt4Real is the calling application that allows you to make calls using your smart phone or your PC audio (similar to Skype), billed securely via credit card'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Where can I use luck-telling?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Virt4Real works anywhere in the world using your PC audio (similar to Whatsapp, Skype), or you can use your mobile phone internet browser to call.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Why is there no phone number for my country?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'We use Internet Protocol calling (VOIP Telephony). You can use your mobile phone connected to the internet or your personal computer to make a call to luck-telling'|translate}}..</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'How will calls show on my phone bill?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'It is not a phone call and does not appear on your phone bill. It will form part of your monthly Data Usage.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Are my credit card and personal details safe?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Yes, absolutely. We have partnered with CCBill for processing all credit card transactions. We do not store your credit card details.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'How can I see how much I have spent?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Once logged in you can clearly see all the calls you have made, together with all call credits that you still have available.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'How do I top up my credits?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">
        {{'Once logged in you will see the Get Minutes button. You will be given the option to top up via your credit card. You will also have the ability to add new card details.'|translate}}
    </span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>
        {{'Do my credits ever expire?'|translate}}
    </u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm">{{'Please note that credits do not expire and are purchased for the exclusive use on our site.'|translate}}<span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">. {{'See luck-telling. TCs for details. Click'|translate}} <a href="https://fortune-telling.co/terms-conditions">{{'Here'|translate}}</a></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'What bundles can I buy?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'When you are logged in, call bundles are available at luck-telling..com/get-minutes'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'What happens if I run out of credits?'|translate}}</u></strong></span></span></p>

    <p><span style="font-size:11.0pt"><span style="font-family: Calibri ,sans-serif">{{'For ease of use, you will always be able to see your call credits on screen, even when you are on a call.'|translate}} </span></span></p>

    <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'If you run out of credits your call will be terminated and you will need to purchase more credit before calling you Virtual Girlfriend back.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Questions, Comments and Complaints'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Your questions, comments and complaints are important to us. Please contact our customer care team via e-mail at info@fortune-telling.co or call us between the hours of 8:00am and 2:00am 7 days a week on +44 20 8064 1488.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'I would like a refund'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Depending on your concern you may be entitled to a refund, please see our terms and conditions'|translate}} <a href="https://fortune-telling.co/page/terms-conditions">https://fortune-telling.co/page/terms-conditions</a> {{'for full information on our refund policy. Contact our friendly customer care team at itsupport@virt4real.com'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Are My Calls Recorded'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'All calls are recorded for caller listen back or for use in the dispute resolution'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Who Can Listen To My Recorded Calls'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm">
        <span style="font-size:11pt">
            <span style="font-family:Calibri,sans-serif">
                {{'Only you, the caller and the Clairvoyant'|translate}}
            </span>
        </span>
        <span style="font-size:11pt">
            <span style="font-family:Calibri,sans-serif">
                {{'called, have access to the recorded call.'|translate}} 
            </span>
        </span>
    </p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:16pt"><span style="font-family: Calibri Light ,sans-serif"><span style="color:#2f5496"><strong>{{'The Instant Messaging Service'|translate}}</strong></span></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'What is the IM Service?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'This service allows customers to instant message Virtual Girlfriends'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'How do I find it?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{"You simply go to virt4real.com, log in and look for the button on a"|translate}} </span></span>{{'Clairvoyant'|translate}}&nbsp;<span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'profile that says Message.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Who sees my messages?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Only the client and the'|translate}} </span></span>{{'Clairvoyant'|translate}}<span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'see the messages.'|translate}}</span></span></p>

    <h1 style="margin-left:0cm; margin-right:0cm"><span style="font-size:16pt"><span style="font-family: Calibri Light ,sans-serif"><span style="color:#2f5496"><strong>{{'fortune-telling.co General FAQs'|translate}}</strong></span></span></span></h1>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'What is fortune-telling.co'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">luck-telling&nbsp;{{'was launched in September 2020 during the Covid Pandemic to provide Virtual Relationships with real people across the globe using your mobile device or personal computer connected to the internet. The service has been designed to provide anonymity for all users and is a fantasy-based service where you can connect with real people and develop the relationship of your dreams, on your own terms.'|translate}} </span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'Are my credit card and personal details safe?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Yes, absolutely. We have partnered with CCSBill for processing all credit card transactions. We do not store your credit card details.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{'How will charges appear on my card statement?'|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{'Charges will show discreetly on your card statement with no reference to anything of an adult nature.'|translate}}</span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><u>{{"What s a safe Password to use?"|translate}}</u></strong></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">{{"Ideally one you have never used elsewhere; this lowers the risk of fraud. Also, the password should be at least 8 characters in length, including upper and lowercase letters along with numbers in order to make it as difficult as possible for someone to guess."|translate}}</span></span></p>

    <p></p>

</div>

<app-become-model></app-become-model>
<app-footer></app-footer>