.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
  }
  .full {
    color: #ffd40a;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ffd40a;;
  }