
<div class="container">
  <div fxLayout="row wrap"  fxLayout.lt-sm="column"  fxLayoutAlign="space-between center" fxLayoutGap="20px" fxLayoutGap.lt-sm="20px" class="stats-cards">
    <mat-card fxFlex="20" fxFlex.lt-md="50" >
      {{'Balance'|translate}}: <br/>
       <p [style.text-align]="'right'"> {{getBlance()}}</p>
    </mat-card>
    <mat-card fxFlex="20" fxFlex.lt-md="50" >
        {{'Commisstion'|translate}}: <br>
        <p  [style.text-align]="'right'" >{{getAdminCommission(commisstion)}}{{currency}} ({{commisstion}}%)</p>
    </mat-card>
    <mat-card fxFlex="20" fxFlex.lt-md="50">
        {{'Pending'|translate}}:<br>
        <p  [style.text-align]="'right'" >{{getPendingAmout()}}</p>
    </mat-card>
    <mat-card fxFlex="20"fxFlex.lt-md="50"  >
        {{'Total WithDraw'|translate}}:<br>
        <p  [style.text-align]="'right'" > {{getWithdrawTotal()}}</p>
    </mat-card>
    <mat-card fxFlex="20"fxFlex.lt-md="50" >
      {{'Available balance'|translate}}: 
      <p  [style.text-align]="'right'" >{{getAvailbleBlance()}}</p>
  </mat-card>
  </div>
</div>
<mat-divider></mat-divider>
<br>
    <div class="container">
      <form [formGroup]="withdrawFormGroup"  >
        <mat-form-field class="row">
          <mat-label>{{'Amount'|translate}} ($)</mat-label>
          <input matInput type="number" formControlName="amoutCtrl"
            [ngClass]="{ 'is-invalid': submitted && f.amoutCtrl.errors }" />
          <mat-error *ngIf="f.amoutCtrl.hasError('required')">{{'Amout is required'|translate}}</mat-error>
        </mat-form-field>
        <div class="row">
          <div class="acction-toolbar" >
            <button mat-raised-button color="primary" (click)="addNewWithDraw()">{{'Add withdraw'|translate}}</button>
          </div> 
        </div>
      </form>
    </div>
<br>

<div fxLayout="row" id="table-withdraw" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="100">
    <div class="mat-elevation-z8" >
      <h2 class="title-list text-center">{{'Withdraws History'|translate}}</h2>      
      <mat-table [dataSource]="withdrawsHistory" matSort class="full-with-table"  >
        <!--  Name Column -->
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header > {{'Date'|translate}} </mat-header-cell>
            <mat-cell  *matCellDef="let withdraw"> {{withdraw.createdAt | date}}</mat-cell>>
        </ng-container>

         <!--Email Column -->
         <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Status'|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let withdraw"> {{withdraw.status}}</mat-cell>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Amount'|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let withdraw"> {{withdraw.amount}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
<mat-paginator  [length]="resultsLength" [pageSizeOptions]="[30,50,100,500]"></mat-paginator>
    </div>
  </div>
</div>