.payment-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 30px 0px;
  }
  .payment-full-width {
    padding: 20px 0px;
    width: 100%;
  }

  img{
    max-width: 300px;
  }