<h2 class="title-list text-center">{{'User Manager'|translate}} </h2>
<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100"> 
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column"  clas="m-2" fxLayoutGap="20px">
            <div fxFlex="60" fxLayoutGap="20px" fxLayoutGap.lt-md="10px" fxFlex.lt-md="100">
                <div class="acction-toolbar">
                    <button  class ="m-2" fxFlex="15" mat-raised-button color="primary" (click)="addNewUser()"><i  class="fa fa-plus mr-1"> </i></button>
                    <button *ngIf="assigned" class ="m-2" fxFlex="15" mat-raised-button color="accent" (click)="deActiveListUser(assigned)"><i  class="fa fa-ban mr-1"></i></button>
                    <button *ngIf="assigned" fxFlex="15" class ="m-2" mat-raised-button color="bassic" (click)="activeListUser(assigned)"> <i  class="fa fa-check mr-1"></i></button>
                    <button *ngIf="assigned" fxFlex="15" class ="m-2" mat-raised-button color="warn" (click)="deleteListUser(assigned)"><i  class="fa fa-trash mr-1"></i></button>
                </div>
            </div>
            <div fxFlex="40" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"  fxFlex.lt-md="100">
                <mat-form-field class="filter-input">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'Filter'|translate}}">
                  </mat-form-field>
            </div>
        </div>
        <div class="mat-elevation-z8" class="example-container">
            <mat-table [dataSource]="listUsers" matSort >
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select" sticky>
                    <mat-header-cell *matHeaderCellDef class="select-cell">
                        <mat-checkbox (change)="HeaderCheckBoxChanged($event);$event ? masterToggle() : null" 
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user" class="select-cell" >
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="CheckBoxChanged($event,user.id);$event ? selection.toggle(user) : null"
                        [checked]="selection.isSelected(user) || user.IsAssigned">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name" sticky>
                    <mat-header-cell *matHeaderCellDef mat-sort-header >{{'Name'|translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let user" class='m-card-sub-title'> {{user.firstName}} {{user.lastName}} </mat-cell>
                </ng-container>

                 <!--Email Column -->
                 <ng-container matColumnDef="email" sticky  >
                    <mat-header-cell *matHeaderCellDef mat-sort-header   class="email-cell"> {{'Email'|translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let user"  class="m-card-title"> {{user.email}}</mat-cell>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="role" sticky>
                    <mat-header-cell *matHeaderCellDef > {{'Role'|translate}}  </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.role}}</mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Status'|translate}}  </mat-header-cell>
                    <mat-cell *matCellDef="let user" class='m-card-sub-title' > {{user.status?'On':'Off'}} </mat-cell>
                </ng-container>

                <!-- Token Column -->
                <ng-container matColumnDef="token">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Tokens'|translate}}  </mat-header-cell>
                    <mat-cell *matCellDef="let user" class='m-card-sub-title'> {{user.token}} </mat-cell>
                </ng-container>
                <!-- Action Column-->
                <ng-container matColumnDef="actions" >
                    <mat-header-cell  *matHeaderCellDef > {{'Actions'|translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let user" fxLayout="row wrap" >
                        <button type="button" class="btn btn-primary" (click)="editUser(user.id)" color="primary"><i  class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"><i  class="fa fa-trash"></i></button>
                        <button *ngIf="user.isActive"type="button" class="btn btn-warning" (click)="deActiveUser(user.id)" ><i  class="fa fa-ban"></i></button>
                        <button *ngIf="!user.isActive"type="button" class="btn btn-success" (click)="activeUser(user.id)"><i  class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-default" (click)="changePassword(user.id)"><i class="fa fa-key"></i></button>
                        
                    </mat-cell>
                  </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[30,50,100,500]"></mat-paginator>
        </div>
   </div>
</div>
