<app-navigation></app-navigation>
<div class="container-fluid form">
  <div class="row form-row ">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card my-5">
              <div class="card-body">
                  <h5 class="card-title text-center">{{'Forgot Password'|translate}}</h5>
                  <div>
                      <div id="errorMsg" *ngIf="errorMessage">
                          <span>{{errorMessage}}</span>
                      </div>
                      <form action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)">
                          <div class="form-group">
                              <input  class="form-control form-control-lg" placeholder="{{'Email'|translate}}"
                                  type="text" id="email" formControlName="email" />
                              <span *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
                                  class="help-block">{{'Please enter a valid email!'|translate}}</span>
                          </div>
                          <div class="form-group">
                              <div>
                                  <button type="submit" class=" btn btn-warning">{{'Reset Password'|translate}}</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
