<div class="padding-main">
  <div class="title-main">{{'Model'|translate}}<span> {{'of the Week'|translate}}</span></div>
  <div class="container">
    <div class="slider-week">
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'Christabel EVAN'|translate}}</a></h3>
            <div class="age-item">, 22 {{'Age'|translate}} <span class="status online"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'LANGUAGE: ENGLISH, HINDI, JAPAN'|translate}}</div>
          
          <div class="btn-status online"><i class="fa fa-comments"></i> <span>{{'ONLINE'|translate}}</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'Christabel EVAN'|translate}}</a></h3>
            <div class="age-item">, 22 {{'Age'|translate}} <span class="status busy"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'LANGUAGE: ENGLISH, HINDI, JAPAN'|translate}}</div>
          
          <div class="btn-status busy"><i class="fa fa-minus-circle"></i> <span>{{'BUSY'|translate}}</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'Christabel EVAN'|translate}}</a></h3>
            <div class="age-item">, 22 {{'Age'|translate}} <span class="status online"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'LANGUAGE: ENGLISH, HINDI, JAPAN'|translate}}</div>
          
          <div class="btn-status online"><i class="fa fa-comments"></i> <span>{{'ONLINE'|translate}}</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'Christabel EVAN'|translate}}</a></h3>
            <div class="age-item">, 22 {{'Age'|translate}} <span class="status busy"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'LANGUAGE: ENGLISH, HINDI, JAPAN'|translate}}</div>
          
          <div class="btn-status busy"><i class="fa fa-minus-circle"></i> <span>{{'BUSY'|translate}}</span></div>
        </div>
      </div>

      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'Christabel EVAN'|translate}}</a></h3>
            <div class="age-item">, 22 {{'Age'|translate}} <span class="status online"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'LANGUAGE: ENGLISH, HINDI, JAPAN'|translate}}</div>
          
          <div class="btn-status online"><i class="fa fa-comments"></i> <span>{{'ONLINE'|translate}}</span></div>
        </div>
      </div>
      <div class="item-model">
        <div class="pic-model">
          <a href="#"><img src="assets/images//img.jpg"></a>
        </div>
        <div class="txt-model">
          <div class="title-model">
            <h3><a href="#">{{'Christabel EVAN'|translate}}</a></h3>
            <div class="age-item">, 22 {{'Age'|translate}} <span class="status busy"></span></div>
          </div>
          <div class="star-v">
            <div class="list-star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span class="volume-model"><i class="fa fa-volume-up"></i></span>
          </div>
          <div class="Language-model">{{'LANGUAGE: ENGLISH, HINDI, JAPAN'|translate}}</div>
          
          <div class="btn-status busy"><i class="fa fa-minus-circle"></i> <span>{{'BUSY'|translate}}</span></div>
        </div>
      </div>


    </div>


  </div>
</div>